<%#
name: SOE Kickstart Default custom packages
description: Add custom packages to build
snippet: true
model: ProvisioningTemplate
organizations:
- Default Organization
locations:
- Default Location
-%>
bash-completion
net-tools
tmux
xfsdump
yum-utils
zip
