<%#
name: soe_disable_non_sat_repos
description: This snippet disables all non-Satellite repos currently enabled on the
  system.
snippet: true
model: ProvisioningTemplate
organizations:
- Default Organization
-%>
<%#
This template accepts the following parameters:
- disable-non-sat-repos (Default: false)
%>

<% if (host_param('disable-non-sat-repos')) -%>
  # This is called before the activation key is passed.
  # Activation Key will manage enable and disable of satellite repos for system 
  sed -i 's/enabled=1/enabled=0/g' /etc/yum.repos.d/*
  sed -i 's/enabled = 0/enabled = 1/g' /etc/yum.repos.d/redhat.repo
<% end -%>
