<%#
name: RHEL_Server_CIS1
description: This is a partition table for a basic server.  Minimum 50GB disk required.
snippet: false
model: Ptable
os_family: Redhat
-%>
# This partition table meets minimum CIS1 requirements
# NOTE: requires 1st disk = 50G

zerombr
clearpart --all
 
<% if @host.provider.downcase == 'vmware' %>
part /boot --fstype ext4 --size=1024 --ondisk=sda
part pv.01 --size=1 --grow --ondisk=sda
<% end -%>

<% if @host.provider.downcase == 'rhv' %>
part /boot --fstype ext4 --size=1024 --ondisk=vda
part pv.01 --size=1 --grow --ondisk=vda
<% end -%>

<% if @host.provider.downcase == 'baremetal' %>
part /boot --fstype ext4 --size=1024 --ondisk=sda
part pv.01 --size=1 --grow --ondisk=sda
<% end -%>

volgroup vg_root pv.01
logvol swap --recommended --vgname=vg_root --name=lv_swap
logvol /tmp  --vgname=vg_root --size=4096 --name=lv_tmp --fstype=xfs
logvol /  --vgname=vg_root --size=32768 --name=lv_root --fstype=xfs
logvol /home  --vgname=vg_root --size=10240 --name=lv_home --fstype=xfs
